<% if notice.present? %>
  <div class="alert alert-success" role="alert" id="notice">
    <%= notice %>
  </div>
<% end %>

<div class="mt-2 p-5 bg-light border rounded-3">
  <h1><%= @mining_type.description %></h1>

  <form>
    <div class="form-group">
      <%= label_tag nil, @mining_type.class.human_attribute_name(:description) %>
      <%= text_field_tag nil, @mining_type.description, class:"form-control", disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag nil, @mining_type.class.human_attribute_name(:acronym) %>
      <%= text_field_tag nil, @mining_type.acronym, class:"form-control", disabled: true %>
    </div>
  </form>

  <br>

  <%= link_to t('links.edit'), edit_mining_type_path(@mining_type), class:"btn btn-primary" %>

  <%= link_to t('links.back'), mining_types_path, class:"btn btn-secondary" %>
</div>