<% if notice.present? %>
  <div class="alert alert-success" role="alert" id="notice">
    <%= notice %>
  </div>
<% end %>

<div class="mt-2 p-5 bg-light border rounded-3">
  <h1><%= Coin.model_name.human(count: @coins.count) %></h1>

  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th><%= @coins.human_attribute_name(:description) %></th>
        <th><%= @coins.human_attribute_name(:acronym) %></th>
        <th><%= @coins.human_attribute_name(:url_image) %></th>
        <th><%= @coins.human_attribute_name(:mining_type) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @coins.each do |coin| %>
        <tr>
          <td class="align-middle"><%= coin.description %></td>
          <td class="align-middle"><%= coin.acronym %></td>
          <td class="align-middle"><%= image_tag coin.url_image, size:"40" %></td>
          <td class="align-middle"><%= link_to coin.mining_type&.description,  mining_type_path(coin.mining_type_id), target: "_blank" %></td>
          <td class="align-middle"><%= link_to t('links.show'), coin %></td>
          <td class="align-middle"><%= link_to t('links.edit'), edit_coin_path(coin) %></td>
          <td class="align-middle"><%= link_to t('links.delete'), coin, method: :delete, data: { confirm: t('messages.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('new.coin'), new_coin_path, class:"btn btn-primary" %>
  
  <%= link_to t('links.back'), :root, class:"btn btn-secondary" %>
  
  <div class="container text-center">
    <%= will_paginate @coins, class:"apple_pagination", previous_label: t('previous'), next_label: t('next') %>
  </div>
</div>