<p id="notice"><%= notice %></p>

<h1><%= @coin.description %></h1>

<%= image_tag @coin.url_image, size:"50" %>

<p>
  <strong>Descrição:</strong>
  <%= @coin.description %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @coin.acronym %>
</p>

<br>

<%= link_to 'Editar', edit_coin_path(@coin) %> |
<%= link_to 'Voltar', coins_path %>
