<% if notice.present? %>
  <div class="alert alert-success" role="alert" id="notice">
    <%= notice %>
  </div>
<% end %>

<div class="mt-2 p-5 bg-light border rounded-3">
  <h1><%= @coin.description %></h1>
    <% if @coin.url_image.present? %>
      <%= image_tag @coin.url_image, size:"50" %>
    <% end %>

  <form>
    <div class="form-group">
      <%= label_tag nil, @coin.class.human_attribute_name(:description) %>
      <%= text_field_tag nil, @coin.description, class:"form-control", disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag nil, @coin.class.human_attribute_name(:acronym) %>
      <%= text_field_tag nil, @coin.acronym, class:"form-control", disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag nil, @coin.class.human_attribute_name(:url_image) %>
      <%= text_field_tag nil, @coin&.url_image, class:"form-control", disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag nil,  @coin.class.human_attribute_name(:mining_type) %>
      <%= text_field_tag nil, @coin.mining_type.description, class:"form-control", disabled: true %>
    </div>
  </form>

  <br>

  <%= link_to t('links.edit'), edit_coin_path(@coin), class:"btn btn-primary" %>

  <%= link_to t('links.back'), coins_path, class:"btn btn-secondary" %>
</div>